plugins/result-uploader/target/**
plugins/utilities/target/**
.terraform*
.workspace
*.mta

**/gen/
**/edmx/
*.db
*.sqlite
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

*.log*
gc_history*
hs_err*
*.tgz
*.iml