*/lib/result-uploader/target/archive-tmp
*/lib/result-uploader/target/classes
*/lib/result-uploader/target/generated-sources
*/lib/result-uploader/target/maven-archiver
*/lib/result-uploader/target/maven-status
*/lib/result-uploader/target/maven-status
*/lib/result-uploader/target/classes
*/lib/utilities/target/archive-tmp
*/lib/utilities/target/classes
*/lib/utilities/target/generated-sources
*/lib/utilities/target/maven-archiver
*/lib/utilities/target/maven-status
*/lib/utilities/target/maven-status
*/lib/utilities/target/classes